.body{
    background-image: url("bg.jpg");
    width: 100vw;
    height: 100vh;
}
.btroom{
    /*padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
    padding-bottom: 6%;*/
    width: 20vw;
    height: 25vh;
    margin: 10px;
    font-size: 2vw;
    top:35%;
    background-color: rgb(255, 255,255,0.5);
    border-color:rgb(255, 255,255,0.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.CR{
    position: absolute;
    left: 25%;
}
.Ex{
    position: absolute;
    left: 50%;
}

