@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.sidenav{
    background-color: #E0EDF5;
    width: 20%;
    height: 100%;
    position: fixed;
}
.link{
    font-size: 1.25vw;
    color: #707070;
}
.link:hover{
    text-decoration-line: none;
    color: #707070;
    font-weight: bold;
}
.navtitle{
    float: left;
    position: absolute;
    left: 9%;
    top: 3%;
    font-family: 'Nunito', sans-serif;
}
.navclass{
    color: #707070;
    font-size: 2.5vw;
}
.navmanage{
    color: #707070;
    font-size: 2.5vw;
}
.detailnav{
    position: absolute;
    top: 40%;
    left: 6%;
}
.logout{
    position: absolute;
    top: 90%;
    left: 55%;
    padding-left: 2%;
    padding-right: 2%;
}
.logouticon{
    width: 20%;
    height: 20%;
}
.search{
    position: absolute;
    left: 80%;
    top: 3%;
    width: 15%;
}
.SearchPic{
    width: 17px;
    height: 17px;
}
.searchbtn {
    background-color: white;
    border-color: darkgrey;
    color: black;
    padding: 2px 4px;
    font-size: 16px;
    cursor: pointer;
  }
  /* Darker background on mouse-over */
.searchbtn:hover {
    background-color: gray;
}
.profilePic{
    position: fixed;
    top: 18% ;
    left: 5%;
    width: 10vw;
    height: auto;
}
.iconlink{
    width: 10%;
    height: 10%;
}