.filter{
    display: flex;
    height: 5%;
}
.option{
    font-size: 0.25vw;
}
.selectbuilding{
    width: fit-content;
    margin-right: 8px;
    margin-bottom: 2%;
}
.buildingfil2{
    margin-right: 2px;
}

.selectday{
    margin-right: 8px;
    margin-bottom: 2%;
}
.periodTimefil{
    margin-right: 2px;
}
.selectime{
    margin-right: 8px;
    margin-bottom: 2%;
}
.downloadbtn{
    color:#393939;
    border-color: #707070;
    border-width: thin;
    margin-top: 3%;
    margin-right: 1%;
}
