.top{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  
}
.stdcount{
    display: flex;
    width: 150px;
    float: right;
}

.topstdcount{
    display: inline-flex;
    align-self: center;
}

.textboxCon{
    margin-left: 10px;
}
.text{
    align-self: center;
}

.ConIn{
    width: 50px;
}

hr{
    border-top: 1px solid;
    margin-bottom: 50px;
}