.yearConfil{
    margin-right: 5px;
}
.selectyearCon{
    width: 8%;
    margin-right: 8px;
    margin-bottom: 2%;
}
.termConfil{
    margin-right: 5px;
}
.selecttermCon{
    margin-right: 8px;
    width:8%;
    margin-bottom: 2%;
}
.partConfil{
    margin-right: 5px;
}
.selectpartCon{
    margin-right: 8px;
    width:8%;
    margin-bottom: 2%;
}
.top{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  
}
#stdcount{
    display: flex;
    width: 150px;
    float: right;
}

.topstdcount{
    display: inline-flex;
    align-self: center;
}

.textboxCon{
    margin-left: 10px;
}
.text{
    align-self: center;
}

.ConIn{
    width: 50px;
}

hr{
    border-top: 1px solid;
    margin-bottom: 50px;
}