.DLdayfil{
    display: flex;
    position: relative;
    left: 141%;
    font-size: 1.5vw;
    color: #707070;
    margin-right: 10px;
}
.selectDLday{
    display: flex;
    position: relative;
    left: 141%;
    width: 25%;
}
.dlicon{
    width: 30%;
    height: 30%;
}
