.content-center{
    justify-content: center;
}
.box{
    margin-top: 10px;
    border-style: solid;
    width: 50%;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 10px;

}
.list-group{
    align-items: center;
}
.list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
}
.selector{
    width:50%;
}
/*
.year{
    padding-right: 16.6%;
}
.semester{
    padding-right: 18.6%;

}
.mid-final{
    padding-right: 14.5%;

}
.reporttype{

}
.depart{
    padding-right: 8.8%;

}
.daytext{
    padding-right: 11.3%;

}
.timetext{
    padding-right: 9.8%;

}
*/