.departfil{
    font-size: 1.5vw;
    color: #707070;
    margin-right: 10px;
    width: 23%;
}
.departfil2{
    font-size: 1.5vw;
    color: #707070;
    margin-right: 4px;
    width: 28%;
}
.testdate{
    margin-right: 10px;
}
.titleManTable{
    font-size: 1.2vw;
}
.dataManTable{
    font-size: 1vw;
}
