@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.formLogin{
    width: 23%;
    float: left;
    position: absolute;
    left: 9%;
    top: 30%;
}
.btlogin{
    float: right;
    color:#393939;
    border-color: #707070;
    box-shadow:1px 1px 4px #707070;
}
.title{
    float: left;
    position: absolute;
    left: 9%;
    top: 10%;
    font-family: 'Nunito', sans-serif;
}
.login_logo{
    width: 60%;
    height: 100%;
    float: right;
    opacity: 0.85;
    position: absolute;
    right: 0;
}
#classroom{
    color: #393939;
    font-size: 3vw;   
}
#manage{
    color:#393939 ;
    font-size: 3vw;
}
