body{
    width: 100%;
}
table, th, td,#setstatus {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
table{
    width: 200%;
}
th{
    padding-top: 15px;
    padding-bottom: 15px;
}
.inviName{
    width: 70%;
}
select{
    text-align: center;
    text-align-last: center;
    font-size: 15px;
    padding-left: 40px;
    border-radius: 10px;
    width:60%;
}
option {
    text-align: center;
    text-align-last: center;
}

#mode{
    background-color:#E0EDF5 ;
	width: 20%;
    float: left;
    position: fixed;
}

#detail{
    position: relative;
    left: 20%;
    margin-left: 2%;
}

#All{
    display: flex;
}

#Webname{
    padding-left: 3%;
    padding-top: 8%;
}

li a {
    color:var(--textcolor,black);
    float: right;
    padding: 10px;
    width: 150%;
    margin: 10px;
    margin-top: 0px;
    text-decoration: none;
    text-align: left;
    transition: background 0.3s ease 0.3s,color 0.3s ease 0.3s;
    font-size: 20px;
}

/* Change the link color on hover */
li a:hover {
    --color:#009900;
    --textcolor:white;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding-top: 7%;
    padding-left: 45%;
}

#ProfilePic{
    align-items: center;
    padding-left: 33%;
    padding-top: 5%;

    width: 70%;
    height: 60%;
}

.SearchPic{
    width: 17px;
    height: 17px;
}

.btn {
    background-color: white;
    border-color: darkgrey;
    color: white;
    padding: 2px 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: gray;
  }

#depart{
    display: flex;
}
#departlabel{
    float: left;
    padding-top: 2%;
}
.departname{
    float: right;
    margin-left: 10px;
    color: whitesmoke;
}
.statuss{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
    height: 20%;
    margin-left: 25%;
}
#dropdown-basic{
    color: black;
}
.Dropdown{
    background-color: whitesmoke;
    color: whitesmoke;
}

#search{
    position: relative;
    left: 100%;
    padding-top: 2%;
}

#header{
    display: flex;
}
#title{
    padding-top: 6%;
}
.icon{
    width: 16%;
    height: 16%;
    padding-right: 3%;
    float: left;
}

.logoutbtn{
    width:35%;
    height: 8%;
    text-align: right;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-top: 40%;
    color: black;
}

.logoutpic{
    width: 20px;
    height: 24px;
    padding-right: 3%;
    padding-left: 3%;
    float: left;
    padding-top: 7%;
    padding-bottom: 5%;
}